<header class="header storage-header">
  <a href="plan.html" class="header-plan">
    <div class="storage-left">
      <img
        src="assets/images/header/storage.svg"
        alt="Storage"
        class="storage-icon"
      />
      <div class="storage-info">
        <div class="storage-text">
          <span class="header-title">Basic Storage</span>
          <span class="header-storage">50GB / 100GB</span>
        </div>
        <div class="storage-bar">
          <span class="storage-progress" style="width: 50%"></span>
        </div>
      </div>
    </div>
  </a>

  <div class="header-center-right">
    <div class="header-burger-search">
      <button
        class="mobile-menu-toggle"
        id="mobileMenuToggle"
        style="display: none"
      >
        <i data-feather="menu"></i>
      </button>
      <div class="mobile-search-container">
        <input
          type="search"
          placeholder="Search in storage..."
          class="mobile-search-input"
          aria-label="Search"
        />
      </div>
    </div>

    <div class="storage-actions">
      <div class="custom-dropdown help-dropdown">
        <button class="dropdown-btn icon-btn" type="button">
          <img
            src="assets/images/header/question.svg"
            alt="Help"
            width="30"
            height="30"
          />
        </button>
        <ul class="dropdown-menu help-menu">
          <li><a href="termsofuse.html">Terms of Use</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="custom-dropdown profile-dropdown">
        <button class="dropdown-btn icon-btn" type="button">
          <img
            src="assets/images/header/profile.svg"
            alt="Profile"
            class="profile-img"
          />
        </button>
        <ul class="dropdown-menu profile-menu">
          <li><a href="editprofile.html">Edit Profile</a></li>
          <li><a href="changepassword.html">Change Password</a></li>
          <li><a href="#" data-logout="true">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
