<div class="modal-overlay change-picture-modal" id="changePictureModal" style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Edit Profile Photo</h2>
            <button class="close-modal-btn" id="closeChangePictureModal">
                <i data-feather="x"></i>
            </button>
        </div>

        <div class="modal-body">
            <div class="picture-options">
                <div class="picture-option" id="cameraOption">
                    <div class="option-icon">
                        <img src="assets/images/editProfile/camera.svg" alt="">
                    </div>
                    <span>Camera</span>
                </div>

                <div class="picture-option" id="galleryOption">
                    <div class="option-icon">
                        <img src="assets/images/editProfile/gallery.svg" alt="">
                    </div>
                    <span>Gallery</span>
                </div>

                <div class="picture-option" id="avatarOption">
                    <div class="option-icon">
                        <img src="assets/images/editProfile/avatar.svg" alt="">
                    </div>
                    <span>Avatar</span>
                </div>
            </div>

            <input type="file" id="imageUpload" accept="image/*" style="display: none;" />
            <input type="file" id="cameraUpload" accept="image/*" capture="environment" style="display: none;" />
        </div>
    </div>
</div>