.logout-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000033;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.logout-modal {
  background: white;
  border-radius: 16px;
  padding: 30px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
  animation: modalSlideIn 0.3s ease;
}

@keyframes modalSlideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logout-modal-header {
  position: relative;
}

.logout-close-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #707070;
  display: flex;
  align-items: center;
}

.logout-close-btn:hover {
  color: #707070ce;
}

.logout-modal-header h3 {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-base);
  margin: 0 0 12px 0;
  text-align: start;
}

.logout-modal-header p {
  font-size: 16px;
  color: #718096;
  line-height: 1.5;
  margin: 0;
  text-align: start;
}

.logout-modal-actions {
  display: flex;
  gap: 16px;
  margin-top: 24px;
  justify-content: end;
}

.logout-modal-btn {
  flex: 1;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  outline: none;
  font-family: var(--outfit);
}

.cancel-btn {
  background: transparent;
  color: var(--text-base);
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  font-family: var(--outfit);
  padding: 10px 25px;
  width: 100%;
  max-width: max-content;
}

.confirm-btn {
  background: #0000ff;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  border-radius: 100px;
  padding: 10px 25px;
  width: 100%;
  max-width: max-content;
}