<div class="restore-modal-overlay" id="restoreModal" style="display: none;">
  <div class="restore-modal">
    <div class="restore-modal-header-top">
      <h3>Restore File</h3>
      <button class="close-modal-btn" id="closeRestoreModal">
        <i data-feather="x"></i>
      </button>
    </div>
    <div class="restore-modal-header">
      <p>Are you sure you want to restore this file? It will be moved back to your drive.</p>
    </div>
    
    <div class="restore-modal-actions">
      <button class="restore-modal-btn cancel-btn" id="cancelRestore">Cancel</button>
      <button class="restore-modal-btn confirm-btn" id="confirmRestore">Restore</button>
    </div>
  </div>
</div>
